input,
button,
textarea {
  font: inherit;
  outline: none;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
img,
picture,
svg {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

:root {
  --main-color: #303030;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
